</div>
    <div class="grid-container">
        <div class="grid-item">
            <a href="https://github.com/0Phonlakit"> <i class="fa-brands fa-github fa-3x fa-fade" style="--fa-animation-duration: 3s; --fa-fade-opacity: 0.4; color: #9BA4B5;" > </i> </a>
        </div>
        <div class="grid-item">
            <a href="https://www.instagram.com/plk_few/"> <i class="fa-brands fa-instagram fa-3x fa-fade" style="--fa-animation-duration: 4s; --fa-fade-opacity: 0.4; color: #9BA4B5"> </i> </a>
        </div>
        <div class="grid-item">
            <a href="mailto:phonlakit.leel@mail.kmutt.ac.th"> <i class="fa-solid fa-envelope fa-3x fa-fade" style="--fa-animation-duration: 5s; --fa-fade-opacity: 0.4; color: #9BA4B5"> </i> </a>
        </div>
    </div>
    <footer>
        <p>Copyright © <%= new Date().getFullYear() %> Weather App</p>
    </footer>
</main>
<script src="https://kit.fontawesome.com/c8bd1e54dd.js" crossorigin="anonymous"></script>
</body>
</html>